.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    padding: 10px;
    background: #eee;
}
.navigation {flex: 0 0 15em; padding: 5px 0; background: #ccc;}
.content {flex: 1 1 0;}
.article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding: 5px 0;
    background: #aaa;
}
.mail-icon {flex: 0 0 128px; align-self: flex-end;}
.footer {flex: 0 0 100%; background: #ccc;}