table {border-collapse: collapse; border: 1px solid #000;}
tr:nth-child(odd) td:nth-child(even) {padding: 25px; background: #000;}
tr:nth-child(even) td:nth-child(odd) {padding: 25px; background: #000;}