.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background: #eee;
}
.navigation {width: 15em; padding: 5px 0; background: #ccc;}
.content {width: 70%;}
.article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding: 5px 0;
    background: #aaa;
}
.mail-icon {width: 128px; align-self: flex-end;}
.footer {width: 100%; background: #ccc;}