.container {margin: 0 auto; padding: 10px; background: #eee;}
.navigation {float: left; width: 15em; padding: 5px 0; background: #ccc;}
.content {margin-left: 15em;}
.article {margin-bottom: 2em; padding: 5px 0; background: #aaa;}
.mail-icon {float: right; width: 128px;}
.clear {clear: both;}
.footer {background: #ccc;}